# variable 01

In [158]:
# variable 
message : str = "Hello world im learning python"
print(message)
# message is a variable name str is a type of variable and "Hello world im learning python" is a value of variable in str 
message_01 : str = "Hello world im learning python"
# variable name can be text, number, underscore or combination of 03.
_message : str = "Hello world im learning python underscore"
print(_message)
# variable name can be strate by text or underscore but never start with number 
# 01_message : str = "variable name never be started with number"
Python : str = "avoid to start variable by name Python "
# spaces are allowed in variable name

Hello world im learning python
Hello world im learning python underscore

# constant
* python has not constant value but programmer make variable constant by assign name of variable in CAPITAL letters.

In [194]:
NAME : str = "khalid"
print(NAME)

khalid
WALLED

# strings 02

# Strings are Arrays  
* many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [159]:
# Example
# Get the character at position 1 (remember that the first character has the position 0):
a = "Hello, World!"
print(a[8])

o

# looping Through a String
* Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [160]:
#Example
#Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

# String Length
* To get the length of a string, use the len() function.

Example
The len() function returns the length of a string:

In [161]:
a = "Hello, World!"
print(len(a))

13

# multiline string 
   * """ """ , ''' '''

In [162]:
# make a card here using multiline string and f string function 
name : str = "Khalid nawaz ch"
father_name : str = "shah nawaz"
id : int = 12345
education : str = "BS in AI"
card : str = f'''
Name        = {name} 
Father Name = {father_name}
ID          = {id}
Education   = {education}
'''
print(card)
# multiline string 
# example 01
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)
# example 02
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua'''
print(a)

Name        = Khalid nawaz ch
Father Name = shah nawaz
ID          = 12345
Education   = BS in AI

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua

# Check String
* To check if a certain phrase or character is present in a string, we can use the keyword in.

Example
Check if "free" is present in the following text:

In [163]:
txt = "The best things in life are free!"
print("free" in txt)

# Use it in an if statement:
# Example
# Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

True
Yes, 'free' is present.

# Check if NOT
* To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

Example
Check if "expensive" is NOT present in the following text:

In [164]:
txt = "The best things in life are free!"
print("expensive" not in txt)
# Use it in an if statement:
# Example
# print only if "expensive" is NOT present:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

True
No, 'expensive' is NOT present.

# Slicing
* You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [165]:
# Example 
# Get the characters from position 0 to position 5 (not included):

b = "Hello, World!"
print(b[0:6])

Hello,

# Slice From the Start
* By leaving out the start index, the range will start at the first character:

Example
Get the characters from the start to position 5 (not included):

In [166]:
b = "Hello, World!"
print(b[:5])

Hello

# Slice To the End
* By leaving out the end index, the range will go to the end:

Example
Get the characters from position 2, and all the way to the end:

In [167]:
b = "Hello, World!"
print(b[2:])

llo, World!

# Negative Indexing
* Use negative indexes to start the slice from the end of the string:
Example
Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):

In [168]:
b = "Hello, World!"
print(b[-5:-2])

orl

# Split String
* The split() method returns a list where the text between the specified separator becomes the list items.
Example
The split() method splits the string into substrings if it finds instances of the separator:

In [169]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']
display(a.split(','))

['Hello', ' World!']

['Hello', ' World!']

# String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [170]:
# Example
# Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)
# Example
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

HelloWorld
Hello World

# String Format
As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [171]:
# Example 
age = 36
# txt = "My name is John, I am " + age
# print(txt) typeerror 
'''But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

Example
Use the format() method to insert numbers into strings:'''

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

# Escape Character
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

Other escape characters used in Python:

Code	Result	Try it
\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

In [172]:
'''Example
You will get an error if you use double quotes inside a string that is surrounded by double quotes:
'''
# txt = "We are the so-called "Vikings" from the north."
#To fix this problem, use the escape character \":
# Example
'''The escape character allows you to use double quotes when you normally would not be allowed:
'''
txt = "We are the so-called \"Vikings\" from the north."

# Method	Description
* capitalize()	Converts the first character to upper case
* casefold()	Converts string into lower case
* center()	Returns a centered string
* count()	Returns the number of times a specified value occurs in a string
* encode()	Returns an encoded version of the string
* endswith()	Returns true if the string ends with the specified value
* expandtabs()	Sets the tab size of the string
* find()	Searches the string for a specified value and returns the position of where it was found
* format()	Formats specified values in a string
* format_map()	Formats specified values in a string
* index()	Searches the string for a specified value and returns the position of where it was found
* isalnum()	Returns True if all characters in the string are alphanumeric
* isalpha()	Returns True if all characters in the string are in the alphabet
* isascii()	Returns True if all characters in the string are ascii characters
* isdecimal()	Returns True if all characters in the string are decimals
* isdigit()	Returns True if all characters in the string are digits
* isidentifier()	Returns True if the string is an identifier
* islower()	Returns True if all characters in the string are lower case
* isnumeric()	Returns True if all characters in the string are numeric
* isprintable()	Returns True if all characters in the string are printable
* isspace()	Returns True if all characters in the string are whitespaces
* istitle()	Returns True if the string follows the rules of a title
* isupper()	Returns True if all characters in the string are upper case
* join()	Joins the elements of an iterable to the end of the string
* ljust()	Returns a left justified version of the string
* lower()	Converts a string into lower case
* lstrip()	Returns a left trim version of the string
* maketrans()	Returns a translation table to be used in translations
* partition()	Returns a tuple where the string is parted into three parts
* replace()	Returns a string where a specified value is replaced with a specified value
* rfind()	Searches the string for a specified value and returns the last position of where it was found
* rindex()	Searches the string for a specified value and returns the last position of where it was found
* rjust()	Returns a right justified version of the string
* rpartition()	Returns a tuple where the string is parted into three parts
* rsplit()	Splits the string at the specified separator, and returns a list
* rstrip()	Returns a right trim version of the string
* split()	Splits the string at the specified separator, and returns a list
* splitlines()	Splits the string at line breaks and returns a list
* startswith()	Returns true if the string starts with the specified value
* strip()	Returns a trimmed version of the string
* swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
* translate()	Returns a translated string
* upper()	Converts a string into upper case
* zfill()	Fills the string with a specified number of 0 values at the beginning

# difference b/w print and display

In [173]:
name : str = "khalid nawaz"
print(name)    # show value in string form 
display(name)  # show value in html form

khalid nawaz

'khalid nawaz'

# changing case in a string with method

In [174]:
import re
titleString : str = 'This is a title method of string'
print(titleString.title())
upperString : str = 'This is a upper method of string'
print(upperString.upper())
lowerString : str = 'This is a lower method of string'
print(lowerString.lower())
name : str = "ali nawaz"
print(name.capitalize())
print(name.casefold())# just like lower method 
print(name.center(80))
print(name.count('i'))
s = "hello world"
new_s = s.replace('world', 'universe')
print(new_s)  # Output: hello universe
s = "      hello world             "
print(s.strip())  # Output: hello world
words = ['hello', 'world']
s = ' '.join(words)
print(s)  # Output: hello world
name : str = "   khalid       nawaz ch      "
display(name)
name01 : str = re.sub(' {2,100}',' ', name).strip()
display(name01)

This Is A Title Method Of String
THIS IS A UPPER METHOD OF STRING
this is a lower method of string
Ali nawaz
ali nawaz
                                   ali nawaz
1
hello universe
hello world
hello world

'   khalid       nawaz ch      '

'khalid nawaz ch'

# using f string function add variable in a string.

In [175]:
# concatenation method 

firstName01 : str = "Khalid"
secondName01 : str = "nawaz"
a : str = "a" 
b : str = "123"
print(a+b)
concatenation : str = firstName01 + secondName01
print(concatenation)
# using f string function 
firstName : str = "Khalid"
secondName : str = "nawaz"
lastName : str = "ch"
Piaic : str = "PIAIC"
fullname : str = f'Hello! {firstName} {secondName} {lastName} welcome to'
print(fullname)
print(f'{fullname.title()} PIAIC')

a123
Khalidnawaz
Hello! Khalid nawaz ch welcome to
Hello! Khalid Nawaz Ch Welcome To PIAIC

# Adding whitespace to sting with tabs and newlines

In [176]:
whitespacesString : str = 'This is a adding whitespace method using Tabs\t and \n Newline in string'
print(whitespacesString)

This is a adding whitespace method using Tabs	 and
 Newline in string

# stripping whitespace 
delete extra spaces

In [177]:
strippingWhitespacesString : str = '      This is a stripping         whitespace method in string.'
rStrippingWhitespacesString: str = strippingWhitespacesString.rstrip()
lStrippingWhitespacesString: str = strippingWhitespacesString.lstrip()
sStrippingWhitespacesString: str = strippingWhitespacesString.strip()
splitStrippingWhitespacesString: str = strippingWhitespacesString.split()
print(rStrippingWhitespacesString)
print(lStrippingWhitespacesString)
print(sStrippingWhitespacesString)
print(splitStrippingWhitespacesString)

      This is a stripping         whitespace method in string.
This is a stripping         whitespace method in string.
This is a stripping         whitespace method in string.
['This', 'is', 'a', 'stripping', 'whitespace', 'method', 'in', 'string.']

 # Removing prefixes

In [178]:
url : str = "https://ithub.com/panaverse/learng-modern-python/blob/main/02_class(string_fstring)/class2.ipynb https://github.com/khalidch73/LearnPython/settings"
print(url.removeprefix('https://'))

ithub.com/panaverse/learng-modern-python/blob/main/02_class(string_fstring)/class2.ipynb https://github.com/khalidch73/LearnPython/settings

# Numbers 03

# Integers

# Python Numbers
There are three numeric types in Python:

int
float
complex
Variables of numeric types are created when you assign a value to them:

In [179]:
x : int = 1    # int
y : float = 2.8  # float
z : complex = 1j   # complex
# To verify the type of any object in Python, use the type() function:
print(type(x))
print(type(y))
print(type(z))
# Example
# Integers:
x = 1
y = 35656222554887711
z = -3255522
print(type(x))
print(type(y))
print(type(z))
# Example
# Floats:
x = 1.10
y = 1.0
z = -35.59
print(type(x))
print(type(y))
print(type(z))
# Float can also be scientific numbers with an "e" to indicate the power of 10.
x = 35e3
y = 12E4
z = -87.7e100
print(type(x))
print(type(y))
print(type(z))
# Complex numbers are written with a "j" as the imaginary part:
# Example
# Complex:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [180]:
'''Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods:

Example
Convert from one type to another:'''

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Random Number
* Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

Example
Import the random module, and display a random number between 1 and 9:

In [181]:
import random
print(random.randrange(1, 10)) 
display(random.randrange(20, 100))

5

37

# Python Arithmetic Operators

In [182]:
'''+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y'''
print(2+2)
print(2-2)
print(2*2)
print(2/2)
print(2%2)
print(2**2)
print(2//2) # round it and print minimum value here

4
0
4
1.0
0
4
1

# Python Assignment Operators

In [192]:
a = 4
x = a + 5
print(x)
x , y, z = 1, 2, 3
# multiple assignment operators 
print(x,y,z)

9
1 2 3

# Python Comparison Operators

In [184]:
x = 10
y = 10
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x <= y)
print(x >= y)

True
False
False
False
True
True

# Python Logical Operators
* and 	Returns True if both statements are true	x < 5 and  x < 10	
* or	Returns True if one of the statements is true	x < 5 or x < 4	
* not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

In [185]:
x = 10
print(x < 5 and  x < 5)	
print(x < 5 or x < 4) 
print(not(x < 5 and x < 10))

False
False
True

# Python Identity Operators
is 	Returns True if both variables are the same object	x is y	
is not	Returns True if both variables are not the same object	x is not y

In [186]:
x = 5 
y = 5 
print(x is y)
print(x is not y)

True
False

# Python Membership Operators

In [187]:
x : list = ["apple", "banana", "mango"]
print("apple" in x)
print("mango" in x)
print("charry" in x)

True
True
False

# Operator Precedence
Operator precedence describes the order in which operations are performed.

In [189]:
print((6 + 3) - (6 + 3))

"""
Parenthesis have the highest precedence, and need to be evaluated first.
The calculation above reads 9 - 9 = 0
"""

0

'\nParenthesis have the highest precedence, and need to be evaluated first.\nThe calculation above reads 9 - 9 = 0\n'

In [190]:
print(100 + 5 * 3)

"""
Multiplication has higher precedence than addition, and needs to be evaluated first.
The calculation above reads 100 + 15 = 115
"""

115

'\nMultiplication has higher precedence than addition, and needs to be evaluated first.\nThe calculation above reads 100 + 15 = 115\n'

# import pandas as pd
* this command used if we want to place a table which is already form on an other website.

In [2]:
import pandas as pd
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »