# DICTIONARIES

# Dictionary
* Dictionaries are used to store data values in key:value pairs.

* A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

* As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

* Dictionaries are written with curly brackets, and have keys and values:

In [ ]:
# Create and print a dictionary:

this_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(this_dict)

In [84]:
# Duplicates Not Allowed
# Dictionaries cannot have two items with the same key:

# Example
# Duplicate values will overwrite existing values:

this_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(this_dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [86]:
# Example
# Print the number of items in the dictionary:

print(len(this_dict))

3

In [ ]:
# The values in dictionary items can be of any data type:

# Example
# String, int, boolean, and list data types:

this_dict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [87]:
# The dict() Constructor
# It is also possible to use the dict() constructor to make a dictionary.

# Example
# Using the dict() method to make a dictionary:

this_dict = dict(name = "John", age = 36, country = "Norway")
print(this_dict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [88]:
# Check if Key Exists
# To determine if a specified key is present in a dictionary use the in keyword:

# Example
# Check if "model" is present in the dictionary:

this_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in this_dict:
  print("Yes, 'model' is one of the keys in the this_dict dictionary")

Yes, 'model' is one of the keys in the this_dict dictionary

In [35]:
from typing import Union
key = Union[str, int, float, tuple] # which type is hashable can become a key
value = Union[str, int,float, dict, set, list, tuple]
student_data : dict[key, value] = {'name':'Ali',  'father name':'saad','qualification':'BS.IT','roll no': 123, 'dict':{2:'two', 3:{'three'}}}
print(student_data)
print(student_data['dict'][2])

{'name': 'Ali', 'father name': 'saad', 'qualification': 'BS.IT', 'roll no': 123, 'dict': {2: 'two', 3: {'three'}}}
two

In [26]:
print(student_data["qualification"])
print(student_data.get('name01', "NA"))
print(student_data.get('name', "NA"))
print(student_data.keys())
print(student_data.values())
print(student_data.items())
for k in student_data: # for loop will print keys value by default 
    print(k)
for v in student_data: # for loop will print keys value by default
    print(v)

BS.IT
NA
Ali
dict_keys(['name', 'father name', 'qualification', 'roll no'])
dict_values(['Ali', 'saad', 'BS.IT', 123])
dict_items([('name', 'Ali'), ('father name', 'saad'), ('qualification', 'BS.IT'), ('roll no', 123)])
name
father name
qualification
roll no
name
father name
qualification
roll no
Ali
saad
BS.IT
123

In [58]:
# for v in student_data.values():
#     print(v)
# for k in student_data.keys():
#     print(k)
# for i in student_data.items():
#     print(i)
for key, value in student_data.items():
    print(f'\nkey :My {key.title()} is')
    print(f'value :{value}')

key :My Name is
value :Ali

key :My Father Name is
value :saad

key :My Qualification is
value :BS.IT

key :My Roll No is
value :123

key :My Dict is
value :{2: 'two', 3: {'three'}}

In [61]:
for key, value in student_data.items():
    print(f'\nMy {key.title()} is :{value}')

My Name is :Ali

My Father Name is :saad

My Qualification is :BS.IT

My Roll No is :123

My Dict is :{2: 'two', 3: {'three'}}

# shuffle method

In [38]:
a : int = 10 
b : int = 20
print(a)
print(b)
a, b = b , a 
print(a)
print(b)

10
20
20
10

# application of dictionary

# 01 make a data frame

In [44]:
import pandas as pd
data_frame : dict[str , list[any]] = {
    'Roll no':[1,2,3,4,5],
    'Name':['ali','waleed', 'saad', 'nawaz', 'waseem'],
    'Age': [22,43,55,22,23,]
}
data_frame:pd.DataFrame = pd.DataFrame(data_frame)
data_frame

   Roll no    Name  Age
0        1     ali   22
1        2  waleed   43
2        3    saad   55
3        4   nawaz   22
4        5  waseem   23

In [50]:
# add new item in a dictionary
name:dict[str , int]={'ali':12 ,'waleed':34, 'saad':45, 'nawaz':56, 'waseem':67}
print(name)
name['x-position '] = 20
name['y-position'] = 40
print(name)

{'ali': 12, 'waleed': 34, 'saad': 45, 'nawaz': 56, 'waseem': 67}
{'ali': 12, 'waleed': 34, 'saad': 45, 'nawaz': 56, 'waseem': 67, 'x-position ': 20, 'y-position': 40}

In [52]:
# modification of dictionary
name:dict[str , int]={'ali':12 ,'waleed':34, 'saad':45, 'nawaz':56, 'waseem':67}
print(f'before modification {name}')
name['ali'] =120
name['waleed'] = 340
name['waseem'] = 670
print(f'after modification {name}')

before modification {'ali': 12, 'waleed': 34, 'saad': 45, 'nawaz': 56, 'waseem': 67}
after modification {'ali': 120, 'waleed': 340, 'saad': 45, 'nawaz': 56, 'waseem': 670}

In [55]:
name:dict[str , int]={'ali':12 ,'waleed':34, 'saad':45, 'nawaz':56, 'waseem':67}
my_brother = name['waleed']
print(f"{my_brother} is my brother's score.")

34 is my brother's score.

In [63]:
names:dict[str , int]={'ali':12 ,'waleed':34, 'saad':45, 'nawaz':56, 'waseem':67}
for name in sorted(names.keys()):
    print(f'Thanks {name.upper()} to become a part of this game.')

Thanks ALI to become a part of this game.
Thanks NAWAZ to become a part of this game.
Thanks SAAD to become a part of this game.
Thanks WALEED to become a part of this game.
Thanks WASEEM to become a part of this game.

# Nesting

In [71]:
# list of different dictionaries            ===> tree different dict are combined in a single list and then performed loop on it 
name01:dict[str , int]={'ali':12 ,'waleed':34, 'saad':45, 'nawaz':56, 'waseem':67}
name02:dict[str , int]={'ali':12 ,'waleed':34, 'saad':45, 'nawaz':56, 'waseem':67}
name03:dict[str , int]={'ali':12 ,'waleed':34, 'saad':45, 'nawaz':56, 'waseem':67}
names: list = [name01, name02,name03]
for name in names:
    print(name)

{'ali': 12, 'waleed': 34, 'saad': 45, 'nawaz': 56, 'waseem': 67}
{'ali': 12, 'waleed': 34, 'saad': 45, 'nawaz': 56, 'waseem': 67}
{'ali': 12, 'waleed': 34, 'saad': 45, 'nawaz': 56, 'waseem': 67}

In [82]:
# make an empty list storing aliens
aliens : list = []
# make 30 green aliens 
for alien_len in range(30):
    new_alien = {'color':'green','points': 5}
    aliens.append(new_alien)
# show only 05 
for alien in aliens[0:5]:
    print(alien)
print('---')
print(len(aliens))

{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5}
---
30

In [83]:
# make an empty list storing aliens
aliens : list = []
# make 30 green aliens 
for alien_len in range(30):
    new_alien = {'color':'green','points': 5}
    aliens.append(new_alien)
# modification for first 03 dict.
for alien in aliens[:3]:
    if alien['color'] == 'green':
        alien['color'] = 'yellow'
        alien["points"] = 10
# show only 05 
for alien in aliens[0:5]:
    print(alien)
print('---')
print(len(aliens))

{'color': 'yellow', 'points': 10}
{'color': 'yellow', 'points': 10}
{'color': 'yellow', 'points': 10}
{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5}
---
30